@charset "UTF-8";


@media screen and (min-width: 992px){
             body{
               overflow-x: hidden;
               font-size:16px;
             }
          header{
            max-height: 50vh;
          }
          header h1{
            font-size: 34px;
          }
          header p{
            width: 800px;
          }
          .link-header{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
          }
           #back-topo{
            background: url('../imagens/../imagens/bg-header-desktop.png') center center no-repeat;
            background-size: cover;
          }
          .link-1,.link-2{
            width: 9cm;
            height:70px;
          }
          .link-1{
            padding:19px;
            border-bottom: 3px solid hsla(171,61%,37%,0.827);
            box-shadow: 3px 5px 10px hsla(171,60.6%,67.4%,0.544);
          }
          .link-2{
            padding:19px;
            border-bottom: 3px solid hsla(233, 53%, 39%, 0.28);
            box-shadow: 3px 3px 8px hsla(233, 100%, 69%, 0.61);
          }
          h1, h2{
            font-size: 28px;
          }
          p{
            font-size: 16px;
            line-height: 1.8;
            text-align: center;
            width: 915px;
            padding: 30px 50px 0 50px ;
          }
          
          main{
            text-align: center;
            width: 100%;
            
          }
          article{
            width: 100%;
          }
          header, .container-1, .container-2, .container-3{
            display: flex;
            flex-direction: column;
            justify-content:center;
            align-items:center;
          }
          /* header e configuracoes gerais acima*/
          .container-info{
            gap:80px;
            margin-top: 2cm;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items:center;
          }
          .img-container{
            display:flex;
            justify-content:flex-start;
          }
          .img-container img{
            width: 900px;
          }
          .text-a{
            display:flex;
            flex-direction:column;
            position: relative;
            bottom: 130px;
            text-align: left;
            width: 400px;
            height: 500px;
          }
          .text-a div{
            margin-top:20px;
            position:relative;
            top:30px;
            width: 300px;
            height: 150px;
            
          }
          .text-a p{
            padding:5px;
            width: 444px;
            text-align: left;
          }
          .text-a h3{
            position:relative;
            
            font-size:23px;
          }
          
         
          /* container-1 acima*/
          .info{
            max-width: 100%;
            display:flex;
            flex-direction: row;
            flex-wrap:wrap;
          }
          .info > div > img{
            width: 75px;
          }
          .info h3{
            font-size: 22px;
          }
          .info p{
            width: 520px;
          }
          .back-midias{
            margin-top: 4cm;
            display:inline-block;
          }
          .back-midias img{
            margin-right:3cm;
            width: 130px;
          }
          /* footer abaixo*/
          footer{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            height: 10vh;
          }
          .topo-footer ul{
             margin: 0;
            display: flex;
            flex-direction: row;
            align-items:center;
            flex-wrap: wrap;
          }
          .topo-footer li{
            margin: 0;
            columns:2;
          }
          footer img{
            position: relative;
            bottom: 20px;
          }
}

@media screen and (min-width: 765px) and (max-width: 992px){
  
}
